.navbar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 35%; 
}

.footer{
    background-color: rgb(129, 141, 176);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 10%;
}

.links{
    display: flex;
    flex-direction: row;
    width: 10%;
    margin-right: 10px;
    justify-content: space-between;
    padding-inline-start: 0px;

}

.li{
    width: 100%;
    margin-right: 100%;
    list-style: none;
    font-size: 200%;
}

.a{
    color: black;
}

#inicio{
    margin-right: 40px;
}
#contacto{
    margin-right: 90px;
}
#favoritos{
    margin-right: 10px;
}

#boton{
    margin-right: 40px;
}